<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tastiest Burgers</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <header id="titel">
      <h1>Välkommen till TastiestBurgers Online</h1>
      <img src="https://254foodie.files.wordpress.com/2015/04/burger-sandwich-header.jpg">
      </header>
      <section id="select">
	<h2>Select Burger</h2>
	<p>This is where you select your tasty burger.</p>
	<table>
	  <thead>
	    <tr>
	      <th>Tasty Burger</th>
	      <th>Cheese Burger</th>
	      <th>Avocado Burger</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><img src="https://media-cdn.tripadvisor.com/media/photo-p/0f/a3/0e/a0/the-big-tasty.jpg" alt="Tasty" title="Tasty Burger" width="350"></td>
	      <td><img src="https://raster-static.postmates.com/?url=https%3A%2F%2Fd1725r39asqzt3.cloudfront.net%2F1dccdabc-7e12-4feb-aede-fe1407a73755%2Forig.jpg&quality=85&w=640&h=0&mode=auto&format=jpg&v=4" alt="" title="" width="350"></td>
	      <td><img src="https://2.bp.blogspot.com/-eka2VX3O75E/Whve_hSWOUI/AAAAAAABerc/OSVMFDaXq34BeNPewN4MkLXW33v3_2M0wCLcBGAs/s1600/avocado-burger%2Bfood%2B%2526%2Bdrink%2Btips%2BEN%2BBLANDAD%2BKOMPOTT.jpg" alt="Avocado" title="Avocado Burger" width="350"></td>
	    </tr>
	    <tr>
	      <td>
		<ul>
		  <li>1200 kCal</li>
		  <li>Our most Tastiest Burger</li>
		  <li>Contains <span id="allergy">gluten</span> and <span id="allergy">lactose</span></li>
		</ul>
	      </td>
	      <td>
		<ul>
		  <li>2400 kCal</li>
		  <li>More cheese than you can ever imagine!</li>
		  <li>Contains <span id="allergy">gluten</span> and <span id="allergy">lactose</span></li>
		</ul>
	      </td>
	      <td>
		<ul>
		  <li>32 kCal</li>
		  <li>Our delicious burger with avocado buns!</li>
		  <li><span id="allergy">Vegan</span></li>
		</ul>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </section>
      <section id="info">
	<h2>Customer Information</h2>
	<p>This is where you provide necessary information.</p>
	<h3> Delivery information:</h3>
	<form>
	<p>
	  <label for="name">Full name</label><br>
	  <input type="text" id="name" required="required" placeholder="First- and Last name" />
	</p>
	<p>
	  <label for="email">E-mail</label><br>
	  <input type="text" id="name" required="required" placeholder="E-mail address" />
	</p>
	<p>
	  <label for="street">Street</label><br>
	  <input type="text" id="street" required="required" placeholder="Street name" />
	</p>
	<p>
	  <label for="house">House number</label><br>
	  <input type="number" id="house" required="required" placeholder="House number" />
	</p>
	<p>
	  <label for="payment">Payment options</label><br>
	  <select id="payment" name="pay">
	    <option>Credit Card</option>
	    <option>Paypal</option>
	    <option selected="selected">Swish</option>
	    <option>Cash</option>
	  </select>
	</p>
	<p>
	  <label>Gender</label><br>
	  <input type="radio" name="gender" value="male"> Male<br>
	  <input type="radio" name="gender" value="female"> Female<br>
	  <input type="radio" name="gender" value="other" checked> Other<br>
	</p>
	</form>
      </section>
      <button type="submit"><img src="https://www.festool.se/-/media/tts/festool/festool/bilder/wissen/festool-apps/order-app/hero_image_text_400x200px_orderapp_iconshopping.jpg" width="30" />Place order</button>
      <footer>
	en Fot
      </footer>
    </main>
  </body>
</html>
