<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>Tastiest Burgers</title>
    <meta charset="utf-8"/>
  </head>

  <body>
    <main id="main">

      <header id="titel">
      <h1>Välkommen till TastiestBurgers Online</h1>
      <img src="https://254foodie.files.wordpress.com/2015/04/burger-sandwich-header.jpg">
      </header>

      <section id="select">
	<h2>Select Burger</h2>
	<p>This is where you select your tasty burger.</p>
	<div id="selection" class="wrapper">
	  <div v-for="item in food">
	    <h2><input type="checkbox" v-model="item.check">{{item.name}}</h2>
	    <img v-bind:src="item.img" width="350">
	    <ul>
	      <li>{{item.kCal}} kCal</li>
	      <li v-if="item.lactose"><b>Lactose</b></li>
	      <li v-if="item.gluten"><b>Gluten</b></li>
	      <li v-if="item.vegan"><b>Vegan</b></li>
	    </ul>
	  </div>
	</div>
      </section>

      <section id="info">
	<h2>Customer Information</h2>
	<p>This is where you provide necessary information.</p>
	<h3> Delivery information:</h3>
	<form>
	<p>
	  <label for="name">Full name</label><br>
	  <input type="text" id="name" required="required" placeholder="First- and Last name" v-model="formName" />
	</p>
	<p>
	  <label for="email">E-mail</label><br>
	  <input type="text" id="email" required="required" placeholder="E-mail address" v-model="formEmail" />
	</p>
	<div class="view-box">
	  <div id="dots" v-on:click="addOrder">
            <div
              v-for="(order, key) in orders"
              v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              {{key}} 
            </div>
	  </div>
	</div>
	<p>
	  <label for="payment">Payment options</label><br>
	  <select id="payment" name="pay" v-model="formPayment">
	    <option>Credit Card</option>
	    <option>Paypal</option>
	    <option selected="selected">Swish</option>
	    <option>Cash</option>
	  </select>
	</p>
	<p>
	  <label>Gender</label><br>
	  <input id="male" type="radio" name="gender" value="male" v-model="formGender"> Male<br>
	  <input id="female" type="radio" name="gender" value="female" v-model="formGender"> Female<br>
	  <input id="other" type="radio" name="gender" value="other" v-model="formGender" checked> Other<br>
	</p>
	</form>
      </section>
      <button v-on:click="submitOrder()"  id="orderbutton" type="submit"><img src="https://www.festool.se/-/media/tts/festool/festool/bilder/wissen/festool-apps/order-app/hero_image_text_400x200px_orderapp_iconshopping.jpg" width="30" />Place order</button>
      <p id="demo">{{order}}</p>
      <footer>
	en Fot
      </footer>
    </main>
  </body>
</html>
