body {
    font-family: helvetica, sans-serif;
    font-size: 18pt;
    margin: 0 auto;
}

#allergy {
    font-weight: bold;
}

#select {
    color: white;
    background: black;
    border: 1px dashed white;
}

#info {
    border: 1px dashed black;
    
}

button {
    margin: 30pt;
}

button:hover {
    background: #00ff00;
    cursor: pointer;
}

table {
    width: 95%;
    margin: 0 auto;
}

section {
    margin-left: 20pt;
}

p {
    margin: 10pt;
}

h1 {
    margin: 10pt;
}

h2 {
    margin: 10pt;
}

h3 {
    margin: 10pt;
}

#titel {
    margin-left: 20pt;
    height: 220pt;
    overflow: hidden;
}

#titel img {
    opacity: 0.6;
    width: 100%;
    height: auto;
}

#titel h1 {
    position: absolute;
    padding: 100px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 400px 400px 400px;
}

