
body {
    font-family: helvetica, sans-serif;
    font-size: 18pt;
    margin: 0 auto;
}

#allergy {
    font-weight: bold;
}

#select {
    color: white;
    background: black;
}

#info {

    
}

button:hover {
    background: #00ff00;
    cursor: pointer;
}

table {
    width: 95%;
    margin: 0 auto;

    
}
